[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.jumbotron{
    width: 1200x;
    text-align: center;
    margin-top: 20px; 
    margin-right: auto;
    margin-left: auto;
}
.form-control{
    margin-bottom: 5px;
}
.selecionado{
    background-color: yellow;
}

td,th{
    text-align: center;
}

