<!DOCTYPE>
<html ng-app="ListaTelefonica">
<head>
  <title>Lista Telefonica</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/ngProgress.css">
  <link rel="stylesheet" href="/css/toaster.css">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body ng-cloak>
  <div class="jumbotron" ng-controller="TelefonesCtrl">
    <h4>{{app}}</h4>
    <input class="form-control" type="text" ng-model="buscaUsuario" placeholder="Busca" />
    <table class="table table-striped">
      <tr>
        <th>ID</th>
        <th>
          <a href="" ng-click="ordenarCampo('nome')">Nome</a>
        </th>
        <th>
          <a href="" ng-click="ordenarCampo('telefone')">Telefone</a>
        </th>
        <th>Operadora</th>
        <th>Data</th>
        <th>Acoes</th>
      </tr>
      <tr ng-class="{selecionado: contato.selecionado}" ng-repeat=" contato in contatos | filter: buscaUsuario | orderBy:campOrder:tipoOrdenacao">       
        <td> {{contato._id }} </td>
        <td> {{contato.nome }} </td>
        <td> {{contato.telefone}} </td>
        <td> {{contato.operadora.nome | uppercase}} </td>
        <td> {{contato.data | date:'dd/MM/yyyy'}} </td>
        <td><button class="btn btn-danger btn-block" ng-click="remove(contato)">Apaga Contato</button></td>
        <td><button class="btn btn-warning btn-block" ng-click="populateForm(contato)">Editar Contato</button></td>
      </tr>
    </table>
    <hr/>
    <form name="contatoForm">
      <input class="form-control" type="text" ng-model="contato.nome" name="nome" placeholder="Nome" ng-required="true" ng-minlength="8"
      />
      <input class="form-control" type="text" ng-model="contato.telefone" name="telefone" placeholder="Telefone" ng-pattern="/^\d{4,5}-\d{4}$/"
        ng-required="true" />
      <select class="form-control" ng-model="contato.operadora.codigo" ng-options="operadora.codigo as operadora.nome for operadora in operadoras">
        <option value="">Selecione...</option>
      </select>
    </form>
    <div ng-show="contatoForm.nome.$error.nome && contatoForm.nome.$dirty" class="alert alert-danger">
      Por favor preencha nome!
    </div>
    <div ng-show="contatoForm.nome.$error.minlength" class="alert alert-danger">
      O campo tem que ter minimo 8 caracteres
    </div>
    <div ng-show="contatoForm.telefone.$error.nome && contatoForm.telefone.$dirty" class="alert alert-danger">
      Por favor preencha o telefone !
    </div>
    <div ng-show="contatoForm.telefone.$error.pattern" class="alert alert-danger">
      O campo telefone deve ser preenchido no formato DDDDD-DDDD
    </div>
    <button class="btn btn-primary" ng-click="salvar(contato)" type="submit" ng-disabled="!contatoForm.$valid ">Salvar Contato</button>
  </div>
	<div data-loading></div>
  <toaster-container toaster-options="{'time-out': 3000, 'close-button':true, 'animation-class': 'toast-top-center'}"></toaster-container>	

  <script src="/vendors/angular.min.js"></script>
  <script src="/vendors/angular-resource.min.js"></script>
  <script src="/vendors/angular-animate.min.js"></script>
  <script src="/vendors/ngProgress.min.js"></script>
  <script src="/vendors/toaster.js"></script>
  <script src="/app.js"></script>
  <script src="/directives/loading.js"></script>
  <script src="/factories/telefones.js"></script>
  <script src="/controllers/telefone.js"></script>
</body>
</html>